@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffecf2;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

svg:not(.svg-filled) {
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

.MuiInputBase-root {
  border-radius: 10px;
  background: white;
  &.Mui-focused {
    svg {
      color: theme('colors.primary');
    }
  }
}

.MuiButtonBase-root {
  border-radius: 24px;
  &.clearButton {
    padding: 3px;
    opacity: 1;
  }
}

.MuiDialog-paper {
  border-radius: 10px;
}
