@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffecf2;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

svg:not(.svg-filled) {
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

.typo-h1 {
  @apply text-[32px] font-bold text-black;
}

.typo-h2 {
  @apply text-[22px] font-bold text-black;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
  }
}

body * {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.primary/0.3') theme('colors.white/0.8');

  &::-webkit-scrollbar {
    position: absolute;
  }

  &::-webkit-scrollbar-track {
    background: #abacb066;
  }

  &::-webkit-scrollbar-thumb {
    background: theme('colors.primary/0.2');
    border-radius: 5px;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: theme('colors.primary');
  }
}

.MuiInputBase-root {
  border-radius: 10px;
  background: white;
  &.Mui-focused {
    svg {
      color: theme('colors.primary');
    }
  }
}

.MuiButtonBase-root {
  border-radius: 24px;
  &.clearButton {
    padding: 3px;
    opacity: 1;
  }
}

.MuiDialog-paper {
  border-radius: 10px;
}
